<div id="card-contain" class="card">
    <div id="signup-card"class="card-body">
        <div class="card-header d-flex flex-column justify-content-center align-items-center">
            <img id="logo-img" src="../images/universe.jpg" alt="" class="img-fluid rounded-circle">
            <h1>Đăng nhập vào SoundLand</h1>
        </div>
        <div id="card-btn-connect" class="card-body d-flex flex-column justify-content-center align-items-center">
            <button type="button" class="btn btn btn-light btn-connect">
                <i class="bi bi-google"></i> Tiếp tục với Google
            </button>
            <button type="button" class="btn btn btn-light btn-connect">
                <i class="bi bi-facebook"></i> Tiếp tục với Facebook
            </button>
            <button type="button" class="btn btn-light btn-connect">
                <i class="bi bi-apple"></i> Tiếp tục với Apple
            </button>
            <button type="button" class="btn btn-light btn-connect">Đăng nhập với số điện thoại</button>
            <hr id="line">
            <div class="mb-2">
                <h6 class="form-label">Email hoặc tên người dùng</h6>
                <input type="text" class="form-control btn-input" id="txtEmail" placeholder="Nhập Email của bạn">
            </div>
            <div class="mb-2">
                <h6 class="form-label">Mật Khẩu</h6>
                <input type="password" class="form-control btn-input" id="txtPassword" placeholder="Nhập mật khẩu của bạn">
            </div>
            <button type="button" class="btn btn-info btn-connect">Đăng nhập</button>
            
            <h6><a href="#" class="mt-5 link-underline-dark link-pw">Bạn quên mật khẩu?</a></h6>
            <div class="d-flex justify-content-center align-items-center">
                <h6>Bạn chưa có tài khoản?</h6>
                <h6><a href="#" class="link-underline-dark link-pw">Đăng kí SoundLand</a></h6>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
</div>
