body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container-create-album {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ff9bb3, #ffedf3); /* Gradient màu hồng */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.button-create-albums {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #4cae4c;
}

.back-link-create-albums {
    text-align: center;
    margin-top: 20px;
}

.back-link-create-albums a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.back-link-create-albums a:hover {
    text-decoration: underline;
}
