
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#card-contain{
    background: linear-gradient(to bottom, #30303D, #0A0B22);
}
#signup-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    border-radius: 20px;
}
#logo-img{
    width: 50px;
    height: 50px;
}

#card-btn-connect {
    gap: 15px;
}

.btn-connect{
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
#line{
    border: 1px solid #d2cdcd;  /* Đặt màu cho đường viền */
    width: 50%;  /* Đặt chiều rộng của <hr> */
    margin: 20px auto;
}

.btn-input{
    width: 400px;
    height: 50px;
}


.link-pw {
    color: white;
}
.link-pw:hover{
    color: white;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#card-contain{
    background: linear-gradient(to bottom, #30303D, #0A0B22);
}
#signup-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    border-radius: 20px;
}
#logo-img{
    width: 50px;
    height: 50px;
}

#card-btn-connect {
    gap: 15px;
}

.btn-connect{
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
#line{
    border: 1px solid #d2cdcd;  /* Đặt màu cho đường viền */
    width: 50%;  /* Đặt chiều rộng của <hr> */
    margin: 20px auto;
}

.btn-input{
    width: 400px;
    height: 50px;
}


.link-pw {
    color: white;
}
.link-pw:hover{
    color: white;
}

