#nav-left {
    background: linear-gradient(to bottom, #1A1C3D, #234B9C) !important;
    padding: 20px;
    gap: 10px;
}

#nav-left h5 {
    color: #AEA7A7;
    margin-top: 10px;
}

#nav-left a {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    gap: 20px;
}

#nav-left a:hover {
    background-color: white;
    color: rgb(12, 0, 0);
    border-radius: 15px;
}

#nav-left #fontaccount {
    color: #AEA7A7;
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#nav-left img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

#nav-left #account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    gap: 10px;
}

#nav-left #return {
    display: flex;
    justify-content: end;
    color: white;
}

#body-left {
    background-color: #1A1C3D;
}

#body-left #header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#searchSongs {
    width: 500px;
}

#searchform {
    padding: 0px;

}

#search {
    padding: 0px;
    border-radius: 20px;
}


#footer {
    background-color: #000;
    /* Đặt màu nền footer là màu đen */
    border-top: 1px solid #444;
    /* Đường viền trên có màu xám nhạt */
    padding: 20px;
    /* Padding cho footer */
}

.album-cover {
    width: 60px;
    /* Chiều rộng cho hình ảnh album */
    height: 60px;
    /* Chiều cao tự động để giữ tỷ lệ */
    border-radius: 10px;
    /* Bo góc cho hình ảnh */
}

.title-music {
    display: flex;
    /* Sử dụng Flexbox cho tiêu đề */
    flex-direction: column;
    /* Xếp tiêu đề theo cột */
    color: #fff;
    /* Màu chữ trắng cho tiêu đề */
}

.title-music span {
    margin: 0;
    /* Bỏ margin mặc định */
}

.player-controls {
    margin-left: auto;
    /* Đẩy các nút điều khiển sang bên phải */
}

.player-controls button {
    background: none;
    /* Bỏ nền cho nút */
    border: none;
    /* Bỏ viền */
    color: #fff;
    /* Màu chữ trắng cho các nút */
    font-size: 24px;
    /* Kích thước font cho các biểu tượng */
    margin: 0 5px;
    /* Khoảng cách giữa các nút */
    cursor: pointer;
    /* Con trỏ chuột khi hover vào nút */
}

.progress {
    flex: 1;
    /* Để thanh tiến trình chiếm không gian còn lại */
    margin: 0 10px;
    /* Khoảng cách giữa thanh tiến trình và các nút */
    background-color: #ffffff;
    /* Màu nền cho thanh tiến trình */
}

.progress-bar {
    background-color: #76c7c0;
    /* Màu cho thanh tiến trình */
}

.time-info {
    color: #fff;
    /* Màu chữ trắng cho thời gian */
}