<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" href="../css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="album-header">
        <img src="./images/apt nền.png" alt="Playlist cover" class="playlist-cover-header">
        <div class="playlist-info">
            <p class="playlist-type">Public Playlist</p>
            <h1 class="playlist-title">New Music Friday Vietnam</h1>
            <p class="playlist-description">Những chiếc nhạc mới trong tuần, được tuyển chọn cẩn thận</p>
        </div>
    </div>

    <div class="album-content">
        <table class="song-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Date added</th>
                    <th><i class="fas fa-clock"></i></th> <!-- Biểu tượng đồng hồ -->
                </tr>
            </thead>

            <tbody>
            <!-- Sample rows -->
                <tr>
                    <td>1</td>
                    <td>
                        <img src="./images/apt nền.png" alt="Playlist cover" class="playlist-cover">
                        Disease
                    </td>
                    <td>Rosé, Bruno Mars</td>
                    <td>6 days ago</td>
                    <td>3:50</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <img src="./images/Buriki_no_Dance _+DEVILA_REMIX.jpg" alt="Playlist cover" class="playlist-cover">
                        Buriki no Dance +DEVILA REMIX
                    </td>
                    <td>AnotherNicoUploader</td>
                    <td>6 years ago</td>
                    <td>3:22</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <img src="./images/Bad_Never_Looked_So_Good.jpg" alt="Playlist cover" class="playlist-cover">
                        Bad Never Looked So Good
                    </td>
                    <td>PattyCake Productions</td>
                    <td>5 years ago</td>
                    <td>4:33</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <img src="./images/Alien_Alien.jpg" alt="Playlist cover" class="playlist-cover">
                        Alien Alien
                    </td>
                    <td>AnotherNicoUploader</td>
                    <td>8 years ago</td>
                    <td>3:02</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <img src="./images/클락션_(Klaxon).jpg" alt="Playlist cover" class="playlist-cover">
                        클락션 (Klaxon)
                    </td>
                    <td>(G)-IDLE</td>
                    <td>3 months ago</td>
                    <td>3:06</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        <img src="./images/Outer_Science.jpg" alt="Playlist cover" class="playlist-cover">
                        Outer Science
                    </td>
                    <td>AnotherNicoUploader</td>
                    <td>10 years ago</td>
                    <td>3:36</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        <img src="./images/Blinding_Lights.jpg" alt="Playlist cover" class="playlist-cover">
                        Blinding Lights
                    </td>
                    <td>The Weeknd</td>
                    <td>2 years ago</td>
                    <td>3:20</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        <img src="./images/Levitating.jpg" alt="Playlist cover" class="playlist-cover">
                        Levitating
                    </td>
                    <td>Dua Lipa ft. DaBaby</td>
                    <td>1 year ago</td>
                    <td>3:23</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>
                        <img src="./images/Good_4_U.jpg" alt="Playlist cover" class="playlist-cover">
                        Good 4 U
                    </td>
                    <td>Olivia Rodrigo</td>
                    <td>1 year ago</td>
                    <td>2:58</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>
                        <img src="./images/Peaches.jpg" alt="Playlist cover" class="playlist-cover">
                        Peaches
                    </td>
                    <td>Justin Bieber ft. Daniel Caesar, Giveon</td>
                    <td>2 years ago</td>
                    <td>3:18</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>
                        <img src="./images/Watermelon_Sugar.jpg" alt="Playlist cover" class="playlist-cover">
                        Watermelon Sugar
                    </td>
                    <td>Harry Styles</td>
                    <td>2 years ago</td>
                    <td>2:54</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>
                        <img src="./images/Save_Your_Tears.jpg" alt="Playlist cover" class="playlist-cover">
                        Save Your Tears
                    </td>
                    <td>The Weeknd</td>
                    <td>2 years ago</td>
                    <td>3:35</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>
                        <img src="./images/Stay.jpg" alt="Playlist cover" class="playlist-cover">
                        Stay
                    </td>
                    <td>Kid LAROI, Justin Bieber</td>
                    <td>1 year ago</td>
                    <td>2:21</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>
                        <img src="./images/As_It_Was.jpg" alt="Playlist cover" class="playlist-cover">
                        As It Was
                    </td>
                    <td>Harry Styles</td>
                    <td>6 months ago</td>
                    <td>2:47</td>
                </tr>


            <!-- Repeat rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>

