<link rel="stylesheet" href="/static/css/forgot-password.css">
<div class="card" id="card-contain">
    <div id="signup-card" class="card mx-auto">
        <div class="card-header text-center">
            <img id="logo-img" src="../images/universe.jpg" alt="">
            <p class="text-white mt-3 mb-3">Forgot Password</p>
        </div>
        <div class="card-body text-center">
            <p class="text-white">Enter your email to reset your password</p>
            <form action="/account/otp" method="POST">
                <input type="email" class="form-control txt-input mb-3" name="email" placeholder="Email" required>
                <button type="submit" class="btn btn-primary btn-connect mb-3">Reset Password</button>
            </form>
        </div>
        <div class="card-footer text-center">
            <div>
                <a href="/account/sign-in" class="link-pw">Back to Sign In</a>
            </div>
        </div>
    </div>
</div>
