<form action="" method="post">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p class="mb-0">Mật khẩu đã được gửi đến email của bạn</p>
    </div>
    <div class="mb-2 form-group">
        <label class="form-label" for="txtUsername">your email or phone number</label>
        <input type="text" name="username" id="txtUsername" class="form-control txt-input" placeholder=""
            aria-describedby="helpId">
    </div>
    <button type="submit" class="btn btn-info btn-connect">
        Gửi lại mật khẩu
    </button>
</form>