<link rel="stylesheet" href="/static/css/forgot-password.css">
<div class="card" id="card-contain">
    <div id="signup-card" class="card mx-auto">
        <div class="card-header text-center">
            <img id="logo-img" src="../images/universe.jpg" alt="">
            <p class="text-white mt-3 mb-3">Enter OTP</p>
        </div>
        <div class="card-body text-center">
            <p class="text-white">Enter the OTP sent to your email</p>
            <form action="/account/verify-otp" method="POST">
                <input type="text" class="form-control txt-input mb-3" name="otp" placeholder="Enter OTP" required>
                <input type="hidden" name="email" value="{{email}}">
                <button type="submit" class="btn btn-primary btn-connect mb-3">Verify OTP</button>
            </form>
        </div>
    </div>
</div>
