<link rel="stylesheet" href="/static/css/reset-password.css">
<div class="card" id="card-contain">
    <div id="signup-card" class="card mx-auto">
        <div class="card-header text-center">
            <img id="logo-img" src="../images/universe.jpg" alt="">
            <p class="text-white mt-3 mb-3">Reset Password</p>
        </div>
        <div class="card-body text-center">
            <p class="text-white">Enter your new password</p>
            <form action="/account/reset-password" method="POST">
                <input type="hidden" name="email" value="{{email}}">
                <input type="password" class="form-control txt-input mb-3" name="password" placeholder="New Password" required>
                <button type="submit" class="btn btn-primary btn-connect mb-3">Update Password</button>
            </form>
        </div>
        <div class="card-footer text-center">
            <div>
                <a href="/account/sign-in" class="link-pw">Back to Sign In</a>
            </div>
        </div>
    </div>
</div>
