<div id="card-contain" class="card">
    <div id="signup-card"class="card-body">
        <div class="card-header d-flex flex-column justify-content-center align-items-center">
            <img id="logo-img" src="../images/universe.jpg" alt="" class="img-fluid rounded-circle">
            <h1>Đăng ký vào SoundLand</h1>
        </div>
        <div id="card-btn-connect" class="card-body d-flex flex-column justify-content-center align-items-center">
            <button type="button" class="btn btn btn-light btn-connect">
                <i class="bi bi-google"></i> Tiếp tục với Google
            </button>
            <button type="button" class="btn btn btn-light btn-connect">
                <i class="bi bi-facebook"></i> Tiếp tục với Facebook
            </button>
            <button type="button" class="btn btn-light btn-connect">
                <i class="bi bi-apple"></i> Tiếp tục với Apple
            </button>
            <button type="button" class="btn btn-light btn-connect">Đăng nhập với số điện thoại</button>
            <hr id="line">
            <div class="mb-2 form-group">
                <label class="form-label"for="txtUsername">Your Email or UserName</label>
                <input type="text" name="" id="txtUsername" class="form-control txt-input" placeholder="" aria-describedby="helpId">
            </div>
            <div class="mb-2 form-group">
                <label class="form-label"for="txtPassword">Password</label>
                <input type="password" name="raw_password" id="txtPassword" class="form-control txt-input" placeholder="" aria-describedby="helpId">
            </div>
            <div class="mb-2 form-group">
                <label class="form-label"for="txtPassword">Confirm Password</label>
                <input type="password" name="raw_password" id="txtPassword" class="form-control txt-input" placeholder="" aria-describedby="helpId">
            </div>
            <button type="submit" class="btn btn-info btn-connect">Sign Up</button>
            <div class="d-flex justify-content-center align-items-center gap-10">
                <label>Bạn đã có tài khoản?</label>
                <label><a href="/account/signin" class="link-underline-dark link-pw">Đăng nhập</a></label>
            </div>
            
        </div>
    </div>
</div>
