{{#section "css"}}
    <link href="/static/css/output.css" rel="stylesheet">
{{/section}}

<div class="w-[100%]
  bg-[linear-gradient(180deg,_#37266A_18%,_#5150B1_47%,_#3A397E_76%)] 
  rounded-[20px] flex flex-col h-[100vh] p-[5%]">
    <div class="w-[100%] h-[30%] bg-black/25 rounded-2xl flex flex-col justify-center p-3" >
    <span class="w-[100%] h-[50%] text-white text-xl
    font-normal font-['League Spartan']">0% of free uploads used</span>
    <div id="progress-bar " class="progress" style="width: 100%;max-width:80vh; max-height:14px">
    <div class="progress-bar" style="width: 90%;"></div>
    </div>
  </div>
    <div class="w-[100%] h-[full] bg-black/25 rounded-2xl flex flex-col justify-center p-3 mt-5">
      <span class="w-[100%] h-[50%] text-white text-[45px]
    font-normal font-['League Spartan'] text-center">Upload your folder</span>
    </div>
</div>